body{
    /*background-color: red;*/
    /*background-image: url("../img/introFonas.jpg") ;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/

}
header{
    background-color: red;
    width: 99%;
    text-align: center;

}
#container{
    display: flex;
    justify-content: center;
}


#registrationForm{

    display: none;
    z-index: 1;
    height: 50%;
    position: absolute;
    text-align: center;
    width: 50%;
    border: black solid 1px;
    border-radius: 5px;
    background-color: red;
    flex-direction: column;
    margin: 4% auto;

}
.closeButton, #mainButton{
    /*position: absolute;*/
    float: right;
    padding-right: 15px;


}

.login{
    background-color: whitesmoke;
    border: black solid 1px;
    align-items: center;
    width: 300px;
    min-height: 325px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 5px 5px 3px black;
    padding: 2%;
    opacity: 1;


}
form .contIns{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 33px;

}

footer{
    background-color: darkblue;
    position: absolute;
    bottom: 0;
    width: 99%;

}