header{
    display: flex;
    justify-content: space-between;
    background: coral;
    height: 250px;
  margin: 20px;
}
form{
    margin-top: auto;
}
nav{
background: darkgreen;
    float: left;
    margin: 20px;
}
main,footer{
    text-indent: 155px;
    display: flex;
    justify-content: center;
    margin: 50px;
    background: cadetblue;

}
article{

    float: left;
    float: bottom;
}
footer {
    float: bottom;

}
