
header{
    display: flex;
    justify-content: space-between;
    background: coral;
    height: 250px;
  /*margin: 20px;*/
}
form{
    margin-top: auto;
}
nav{
background: darkgreen;

}
main,footer{
    text-indent: 155px;
    display: flex;
    justify-content: center;
    /*margin: 50px;*/
    background: cadetblue;

}
article{
float: right;
    /*float: left;*/
    /*float: bottom;*/
}
/*footer {*/
/*    float: bottom;*/

/*}*/

header{
    grid-area: h;
}
nav{

    grid-area: n;
}

article{
    grid-area: a;
}

footer{
    grid-area: f;
}

body{
    display: grid;
    grid-template-areas:
     "h h n"
     "m m a"
     "f f f"
;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-columns: 6fr 1fr 1fr;
    grid-gap: 5px;
}


@media only screen and (max-width: 600px) {
    body  {
        grid-template-areas:
        "h"
        "n"
      "m"
        "f"
    ;
        grid-template-rows: 50px 15px 10px 25px;
        grid-template-columns: 1fr;
    }
    article {
        display: none;
    }
}


@media only screen and (min-width: 768px) {
    body  {
        grid-template-areas:
        "h h"
        "m a"
        "f f"
    ;
        grid-template-rows: 50px auto 50px;
        grid-template-columns: 2fr 1fr;
    }
    article{
        display: block;
    }
}



@media only screen and (min-width: 1200px) {
    body  {
        display: grid;
       grid-template-areas:
       "h h n"
       "m m a"
       "f f f"
    ;/
    grid-template-rows: 2fr 6fr 2fr;
        grid-template-columns: 6fr 1fr 1fr;
   }
   /* article{*/
   /*    display: block;*/
   /*}*/
}
